<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.name %>
</p>

<% @all_schemas.each do |schema| %>
  <p><%= schema['uuid'] %>|<%= schema['name'] %></p>
  <% if @difference.include?(schema['uuid']) %>
    <p>Unchecked</p>
    <% else %>
    <p>Checked</p>
    <% end %>
<% end %>



<%= link_to 'Edit', edit_project_path(@project.uuid) %> |
<%= link_to 'Back', projects_path %>
