<p id="notice"><%= notice %></p>

<h1>Schemas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Container</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schemas.each do |schema| %>
      <tr>
        <td><%= schema.name %></td>
        <td><%= schema.container %></td>
        <td><%= schema.description %></td>
        <td><%= link_to 'Show', schema_path(schema.uuid) %></td>
        <td><%= link_to 'Edit', edit_schema_path(schema.uuid) %></td>
        <td><%= link_to 'Destroy', schema_path(schema.uuid), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schema', new_schema_path %>
